/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


.album-review, .admin-manual-enter {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
.album-details, .admin-album-60 {
  width: calc(60% - 0.5rem);
}
.album-cover-cont, .admin-album-40 {
  width: calc(40% - 0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3.album-name-author {
  margin: 0px!important;
}
.star-rating {
  display: flex;
}
.star-rating svg {
  width: 1rem;
  height: 1rem;
  color: #ff9900;
}

.star-rating svg:not(:last-child) {
  margin-right: 0.2rem;
}